.formInput {
  padding: 0.2em 0.4em;
  width: 100%;
  background: rgb(242, 242, 247);
  border: 1px solid gray;
  margin-top: 3px;
}

.formInput:focus {
  outline: none;
}

.formBody {
  margin: 4px;
  font-family: var(--buttonFont);
  transition: height 200ms ease;
}

.done {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  padding: 0.6em;
  background-color: rgb(14, 62, 140);
  border-radius: 5px;
  color: var(--white);
  transition: background-color 200ms ease;
  text-transform: uppercase;
}

.done:hover {
  background-color: rgba(14, 62, 140, 0.8);
}