@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

:root {
  --navblue : linear-gradient(to right, rgb(24, 57, 125), rgb(5, 33, 89));
  --white: rgb(247, 248, 250);
  --letterblue: rgb(16, 23, 130);
  --latofont: 'Lato', sans-serif;
  --logofont: 'Roboto', sans-serif;
  --headerFont: 'Inter', sans-serif;
  --buttonFont: 'PT Sans', sans-serif;
  --kanitFont: 'Kanit', sans-serif;
}